html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 59);
    background-color: #d3ffdc;
    margin-left: 40px;
    margin-right: 40px;
}
header{
    font-family: 'Courier New', Courier, monospace;}
nav{
    width: 480px;
    float: left;
    color: black;
    background-color: white;
}
main{
    text-align: justify;
}
article{
    font-style: italic;
}
section{
    border: dotted black 1px;
}
footer{
    padding: 10px;
    background-color: white;
    text-align: center;
}
h1{
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
}
h2{
    font-style: italic;
}
a{
    text-decoration: none;
    background-color: #91ffa9;
}
a:hover{
    background-color: red;
    color: yellow;
}
img{
    border-radius: 80px 80px 80px 80px;
    height: 200px;
}
.principal{
    font-family: 'Lexend Mega', sans-serif;
}
#headerarticulo{
    margin-top: 150px;
}
#resumen{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    border: dotted gray 1px;
    border-radius: 60px 60px 60px 60px;
    padding-left: 40px;
    padding-right: 40px;
}
#logo{
    height: 96px;
    float: right;
    border-radius: 0px;
}
#nombre{
    text-align: left;
    font-size: 15px;
    font-family: 'Lexend Mega', sans-serif;
    text-decoration: overline;
}