html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 59);
    background-color: #91ffa9;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}
#logo{
    height: 150px;
    float: right;
    border-radius: 0px 0px 0px 0px;
}
h1{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5px;
}
h2{
    font-style: italic;
}
nav{
    padding: 2px;
    color: black;
    background-color: white;
}
.enlace{
    float: left;
}
a:hover{
    background-color: red;
    color: yellow;
}
.principal{
    font-family: 'Lexend Mega', sans-serif;
}
#resumen{
    font-family: 'Lobster', cursive;
    font-size: 25px;
    border: dotted gray 1px;
    border-radius: 60px 60px 60px 60px;
    padding-left: 40px;
    padding-right: 40px;
}
img{
    border-radius: 40px 40px 40px 40px;
}
.imagen{
    height: 350px;
}
a{
    text-decoration: none;
    background-color: #91ffa9;
}
#nombre{
    font-size: 15px;
    font-family: 'Lexend Mega', sans-serif;
    text-decoration: overline;
}
footer{
    padding: 10px;
    background-color: white;
    text-align: center;
}